body {
    font-family: '微软雅黑', "Helvetica Neue", Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.content {
    overflow-x: hidden;
    bottom: 2.5rem;
}

.content.content-fruit {
    bottom: 0;
}

.swiper-slide img {
    width: 100%;
}

.fruit {
    background-color: #fff
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-container {
    height: auto;
}

.swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 0.5rem;
    font-size: 0;
}

.swiper-pagination-bullet {
    width: 0.3rem;
    height: 0.3rem;
    background: #e4e4e4;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    width: 0.4rem;
    height: 0.4rem;
    background: #cccccc;
}

.bar a.tab-item {
    width: 20%;
    float: left;
    text-align: center;
}

.bar a.tab-item > div {
    display: flex;
    height: 1.45rem;
    flex-direction: column-reverse;
}

.bar:after {
    display: block;
    content: " ";
    clear: both;
}

.bar a.tab-item img {
    display: block;
    margin: 0 auto;
}

.first img {
    width: 1.25rem;
    height: 1.2rem;
}

.second img {
    width: 1.25rem;
    height: 1.25rem;
}

.three img {
    width: 1.4rem;
    height: 1.25rem;
}

.four img {
    width: 1.325rem;
    height: 1.025rem;
}

.five img {
    width: 1.075rem;
    height: 1.25rem;
}

.bar a.tab-item span {
    display: block;
    font-size: .6rem;
    height: 1.05rem;
    line-height: 1.05rem;
    color: #a8a8a8;
}

.bar-tab .tab-item.active span {
    color: #4dc156;
}

.bar-tab .tab-item.active, .bar-tab .tab-item:active {
    color: #4dc156;
}

.space-div20 {
    height: 0.5rem;
}

.space-div30 {
    height: 0.75rem;
}

.nav-icon {
    background-color: #fff;
    padding-bottom: 0.75rem;
}

.nav-icon a {
    display: block;
    float: left;
    width: 33.333%;
    text-align: center;
    color: #000;
    font-size: 0.65rem;
    padding-top: 0.75rem;
}

.nav-icon a img {
    display: block;
    margin: 0 auto;
    width: 3.2rem;
    height: 3.2rem;
}

.nav-icon a span {
    display: block;
    text-align: center;
    padding-top: 0.5rem;
}

.nav-icon:after {
    display: block;
    content: "";
    clear: both;
}

.dynamic-information {
    background-color: #fff;
}

.dynamic-information-top {
    border-bottom: 1px solid #f4f4f4;
}

.dynamic-information-body {
    padding: .5rem 0.75rem;
}

.dynamic-information-list {

}

.dynamic-information-list-top {
    display: flex;
    margin-bottom: .675rem;
}

.dynamic-information-ds {
    padding: 0 0.75rem;
    display: flex;
    height: 2.25rem;
    align-items: center;
}

.dynamic-information-ds h3 {
    flex: 1;
    border-left: 0.15rem solid #53b557;
    padding-left: 0.7rem;
    font-size: 0.7rem;
    color: #333;
    font-weight: 100;
}

.dynamic-information-ds > a {
    display: flex;
    width: .3rem;
    height: 0.6rem;
    justify-content: flex-end;
    background: url("../img/dynamic-icon2.png") no-repeat center center;
    background-size: .3rem .6rem;
}

.dynamic-information-list-top a.dynamic-information-list-img {
    width: 6.05rem;
    height: 3.45rem;
    margin-right: .5rem;
}

.dynamic-information-list-top a.dynamic-information-list-img img {
    display: block;
    width: 100%;
}

.dynamic-information-list-top a.dynamic-information-list-content {
    flex: 1;
    color: #666;
    font-size: .6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dynamic-information-list-bottom {
    display: flex;
}

.dynamic-information-list-bottom .time {
    width: 6.05rem;
    margin-right: .5rem;
    font-size: .6rem;
    color: #999999;
    display: flex;
}

.dynamic-information-list-bottom .time span.timespan {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.dynamic-information-list-bottom .total {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    font-size: .6rem;
}

.dynamic-information-list-bottom .total a {
    display: block;
    background: url("../img/dynamic-icon.png") no-repeat left center;
    background-size: 0.775rem .5rem;
    padding-left: 1.25rem;
    color: #999999;
}

.search-all {
    padding: 0 0.75rem;
}

.search-all-in {
    width: 100%;
    background-color: #e8e8e8;
    height: 1.7rem;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    padding: 0 0.75rem;
}

.search-all-in input {
    border: none;
    background: transparent;
    flex: 1;
    color: #ccc;
    font-size: 0.7rem;
}

.search-all-in span {
    display: block;
    width: 1rem;
    height: 1rem;
    background: url("../img/search-icon.png") no-repeat center center;
    background-size: cover;
    margin-left: 0.5rem;
}

.search-top:after {
    display: block;
    height: 0.4rem;
    content: " ";
}

.search-top:before {
    display: block;
    height: 0.4rem;
    content: " ";
}

.select-all {
    display: flex;
    height: 2.1rem;
    border-top: 1px solid #e8e8e8;
    border-bottom: 1px solid #e8e8e8;
}

.select-all.comsunpation {
    padding: 0 0.75rem 0 0.825rem;
}

.select-all .select-list-one {
    flex: 1;
    display: flex;
    height: 2.1rem;
    justify-content: center;
    align-items: center;
    font-size: .75rem;
    color: #333;
    border-right: 1px solid #e8e8e8;
}

.select-all .select-list-one-comsunpation {
    flex: 1;
    display: flex;
    height: 2.1rem;
    align-items: center;
    font-size: .75rem;
    color: #333;
    border-right: 1px solid #e8e8e8;
    position: relative;
}

.select-all .select-list-one:last-child {
    border-right: 0;
}

.select-all .select-list-one-comsunpation:last-child {
    border-right: 0;
}

.select-all .select-list-one:after {
    display: block;
    content: " ";
    width: .6rem;
    height: .375rem;
    margin-left: .5rem;
    background: url("../img/icon2.png") no-repeat;
    background-size: .6rem .375rem;
}

.select-all .select-list-one-comsunpation:after {
    display: block;
    content: " ";
    width: .6rem;
    height: .375rem;
    margin-left: .5rem;
    background: url("../img/icon2.png") no-repeat;
    background-size: .6rem .375rem;
    position: absolute;
    right: 0.875rem;
    top: 50%;
    transform: translateY(-50%);
}

.select-all .select-list-one-comsunpation:nth-child(2) {
    padding-left: 0.75rem;
}

.fruit-list-wrap {

}

.fruit-list-wrap-list {

}

.fruit-list-one {
    padding: 0.75rem 0;
    display: flex;
    border-bottom: 1px solid #e8e8e8;
}

.fruit-list-one > a {
    display: block;
    width: 5rem;
    height: 3.825rem;
    margin: 0 0.825rem;
    overflow: hidden;
}

.fruit-list-one > a img {
    display: block;
    width: 100%;
    border-radius: .2rem;
}

.fruit-list-content {
    flex: 1;
    padding-right: 0.75rem;
    display: flex;
    flex-direction: column;
    height: 3.825rem;
}

.fruit-list-content > a {
    flex: 1;
    font-size: 0.7rem;
    color: #333;

}

.fruit-list-bottom {
    height: 0.9rem;
    display: flex;
}

.fruit-list-bottom-left {
    flex: 1;
    font-size: 0;
}

.fruit-list-bottom-left span.vip {
    display: inline-block;
    width: 1.125rem;
    height: 0.635rem;
    border-radius: 2px;
    background-color: #ff8a00;
    text-align: center;
    line-height: 0.635rem;
    font-size: 0.55rem;
    color: #fff;
    margin-right: 0.25rem;
}

.fruit-list-bottom-left span {
    line-height: 1;
}

.fruit-list-bottom-left span.money-flag {
    display: inline-block;
    font-size: 0.6rem;
    color: #ff8a00;
    font-weight: bold;
}

.fruit-list-bottom-left span.money-ten {
    display: inline-block;
    font-size: 0.9rem;
    color: #ff8a00;
    font-weight: bold;
}

.fruit-list-bottom-left span.money-one {
    display: inline-block;
    font-size: 0.6rem;
    color: #ff8a00;
}

.fruit-list-bottom-left span.money-init {
    display: inline-block;
    font-size: .6rem;
    color: #999;
    margin-left: .6rem;
}

.fruit-list-bottom span.already-shop {
    /*width: 2.75rem;*/
    font-size: .6rem;
    color: #999;
}

/*交易中心*/
.trading-market {
    width: 100%;
    height: 2.5rem;
    background: url("../img/trading1.png") no-repeat center center;
    background-size: 100% 2.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trading-tree {
    width: 100%;
    height: 2.5rem;
    background: url("../img/trading2.png") no-repeat center center;
    background-size: 100% 2.5rem;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trading-market-content {
    color: #000;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
}

.trading-market-content:after {
    display: block;
    content: " ";
    height: 1px;
    width: 0.75rem;
    background-color: #0c0307;
    margin-left: 0.5rem;
}

.trading-market-content:before {
    display: block;
    content: " ";
    height: 1px;
    width: 0.75rem;
    background-color: #0c0307;
    margin-right: 0.5rem;
}

.trading-hot-shop {
    background-color: #ecf8ed;
}

.trading-hot-shop-title {
    height: 2.175rem;
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
}

.trading-hot-shop-title h2 {
    font-weight: 100;
    color: #333;
    font-size: 0.65rem;
}

.trading-hot-shop-title span {
    width: 1.1rem;
    height: 0.75rem;
    background: url("../img/trading-icon.png") no-repeat center center;
    background-size: 1.1rem 0.75rem;
    margin-left: 0.25rem;
}

.trading-hot-shop-content {

}

.trading-shop-inner {
    padding: 0 0.75rem 0.95rem 0.75rem;
}

.trading-shop-inner:after {
    display: block;
    content: " ";
    clear: both;
}

.trading-shop-inner-one {
    width: 31.6%;
    float: left;
    margin-right: 2.5%;
    overflow: hidden;
}

.trading-shop-inner-one:last-child {
    margin-right: 0;
}

.trading-shop-inner-one > a {
    display: block;
    width: 100%;
}

.trading-shop-inner-one > a img {
    display: block;
    width: 100%;
    border-radius: 3px;
}

.trading-shop-inner-one > a p {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 0.7rem;
    line-height: 0.95rem;
}

.trading-list-shop {
    padding: 0.75rem 0.75rem 0 0.75rem;
    background-color: #fff;
}

.trading-list-shop-inner {
    width: 100%;
}

.trading-list-shop-inner:after {
    display: block;
    content: ' ';
    clear: both;
}

.trading-list-inner-one {
    width: 49%;
    float: left;
    overflow: hidden;
    margin-bottom: 0.75rem;
}

.trading-list-inner-one:nth-child(2n) {
    margin-left: 2%;
}

.trading-list-inner-one > a {
    display: block;
}

.trading-list-inner-one > a img {
    display: block;
    width: 100%;
    border-radius: 3px;
}

.trading-list-inner-one > a p {
    color: #333;
    margin: 0;
    padding: 0;
    font-size: 0.7rem;
    height: 1.55rem;
    line-height: 1.55rem;
    overflow: hidden;
}

.trading-viewmore {
    display: block;
    height: 2.25rem;
    text-align: center;
    line-height: 2.25rem;
    background-color: #52b456;
    color: #fff;
    font-size: 0.7rem;
}

.trading-tree-money {
    padding: 0.75rem;
}

.trading-tree-one {

}

.trading-tree-one:after {
    display: block;
    content: " ";
    clear: both;
}

.trading-tree-one > a {
    display: block;
    width: 49%;
    float: left;
    margin-right: 2%;
}

.trading-tree-one > a:last-child {
    margin-right: 0;
}

.trading-tree-one > a img {
    display: block;
    width: 100%;
    border-radius: 3px;
}

/*水果详情*/
.fruit-detail-banner-bottom {
    padding: 0.75rem;
    background-color: #fff;
}

.fruit-detail-banner-bottom > a {
    display: block;
    color: #333;
    font-size: 0.7rem;
    line-height: 1rem;
    margin-bottom: 1rem;
}

.delivery-description {
    padding: 0 0.75rem 0.75rem 0.75rem;
    background-color: #fff;
}

.delivery-description-address {
    height: 2.2rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e8e8e8;
}

.delivery-description-address span.address-df {
    display: block;
    width: 2.5rem;
    font-size: 0.65rem;
    color: #999;
}

.delivery-description-address span.address-ds {
    flex: 1;
    color: #333;
    font-size: 0.65rem;
}

.delivery-description-guige {
    display: flex;
    padding-top: 0.75rem;
}

.delivery-description-guige > span {
    display: block;
    width: 2.5rem;
    font-size: 0.65rem;
    color: #999;
}

.delivery-description-guige-select {
    flex: 1;
}

.delivery-description-guige-select:after {
    display: block;
    content: " ";
    clear: both;
}

.delivery-description-guige-select > a {
    display: block;
    float: left;
    height: 1.2rem;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    color: #333;
    font-size: 0.6rem;
    margin-bottom: 0.75rem;
    padding: 0 0.375rem;
    line-height: 1.2rem;
    margin-right: 0.65rem;
}

.delivery-description-guige-select > a:nth-child(2n) {
    margin-right: 0;
}

.delivery-description-guige-select > a.click-active {
    border: 1px solid #ff8a00;
    color: #ff8a00;
}

.delivery-description-num {
    display: flex;
    padding-top: 0.75rem;
}

.delivery-description-num > span {
    display: block;
    width: 2.5rem;
    font-size: 0.65rem;
    color: #999;
}

.delivery-description-num-select {
    font-size: 0;
    width: 4.6rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border: 1px solid #e8e8e8;
    border-radius: 3px;
    overflow: hidden;
    display: flex;
}

.delivery-description-num-select > a {
    display: block;
    font-size: 0.9rem;
    color: #999;
    height: 1.2rem;
    width: 1.2rem;
    text-align: center;
}

.delivery-description-num-select > a.jian {
    border-right: 1px solid #e8e8e8;
}

.delivery-description-num-select > a.jia {
    border-left: 1px solid #e8e8e8;
}

.delivery-description-num-select > input {
    display: block;
    border: none;
    font-size: 0.6rem;
    color: #333;
    height: 1.2rem;
    text-align: center;
    width: 2.2rem;
}

.fruit-detail-jies {
    padding: 0 0.75rem 0.75rem 0.75rem;
    background-color: #fff;
}

.fruit-detail-jies-title {
    border-bottom: 1px solid #e8e8e8;
    height: 2.2rem;
    line-height: 2.2rem;
    color: #333;
    font-size: 0.75rem;
}

.fruit-detail-jies-img {
    padding-top: 0.5rem;
    color: #333;
    font-size: 0.65rem;
    line-height: 1rem;
}

.fruit-detail-jies-img img {
    display: block;
    width: 100%;
    margin-bottom: 0.75rem;
}

.padding-top {
    padding-top: 0.5rem;
}

.fruit-detail-button {
    display: flex;
}

.fruit-detail-button > a {
    flex: 1;
    text-align: center;
    line-height: 2.5rem;
    color: #fff;
    font-size: 0.75rem;
}

.fruit-detail-button > a:nth-child(1) {
    background-color: #ff8a00;
}

.fruit-detail-button > a:nth-child(2) {
    background-color: #52b456;
}

/*投资型详情*/
.fruit-income {
    padding: 0.75rem;
    background-color: #fff;
}

.fruit-income-inner {
    display: flex;
}

.fruit-income-output {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-right: 1px solid #e8e8e8;
}

.fruit-income-output > span {
    display: block;
    color: #ff8a00;
    font-size: 1rem;
}

.fruit-income-output > a {
    display: block;
    background: url("../img/fruitdetail4 .png") no-repeat left center;
    background-size: 0.85rem 0.875rem;
    color: #333;
    font-size: 0.6rem;
    padding-left: 1.25rem;
}

.fruit-income-money {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.fruit-income-money > span {
    display: block;
    color: #52b456;
    font-size: 1rem;
}

.fruit-income-money > a {
    display: block;
    background: url("../img/fruitdetail5.png") no-repeat left center;
    background-size: 0.775rem 0.875rem;
    color: #333;
    font-size: 0.6rem;
    padding-left: 1.25rem;
}

/*我的果园*/
.dynamic-information-ds > span {
    display: flex;
    width: 4.9rem;
    height: 1.25rem;
    background-color: #52b456;
    color: #fff;
    font-size: 0.6rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
}

.myorchard-fruit {
    padding: 0.3rem 0.75rem 0 0.75rem;
    background-color: #ecf8ed;
}

.myorchard-fruit-inner {

}

.myorchard-fruit-icon {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.75rem;
}

.myorchard-fruit-icon-one {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.myorchard-fruit-icon-oneimg {
    margin: 0.55rem 0;
    width: 1.1rem;
    height: 1.1rem;
    overflow: hidden;
}

.myorchard-fruit-icon-oneimg img {
    display: block;
    width: 100%;
}

.myorchard-fruit-icon-one > span {
    color: #999;
    font-size: 0.55rem;
}

.myorchard-fruit-icon-one > p {
    margin: 0;
    padding: 0;
    color: #333;
    font-size: 0.9rem;
}

.tongzhi-guoyuan {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.2rem;
    border-radius: 3px;
    background-color: #fff;
}

.tongzhi-guoyuan > a {
    background: url("../img/myorchard6.png") no-repeat left center;
    background-size: 1.1rem 1.1rem;
    font-size: 0.65rem;
    color: #333;
    padding-left: 1.5rem;
}

.myorchard-fruit-guoyuan {
    padding: 0.75rem;
    background-color: #fff;
}

.myorchard-fruit-guoyuan-inner {
    display: flex;
    padding: 0 0.5rem;
}

.myorchard-fruit-guoyuands {
flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.myorchard-fruit-guoyuands > a {
color: #333;
    font-size: 0.6rem;
    line-height: 1;
}

.myorchard-fruit-guoyuands > a span {
color: #999;
    margin-right: 0.65rem;
}

.myorchard-fruit-guoyuanimg {
width: 5rem;
}

.myorchard-fruit-guoyuanimg img {
display: block;
    width: 100%;
}
.myorchard-fruit-all{

}
.myorchard-fruit-all-list{
padding: 0.75rem 0.75rem 0.75rem 0;
    border-top: 1px solid #e8e8e8;
    display: flex;
}
.myorchard-fruit-all-list-left{
width: 5rem;
    height: 3.825rem;
    margin: 0 0.75rem;
}
.myorchard-fruit-all-list-left img{
    display: block;
    width: 100%;
    border-radius: 3px;
}
.myorchard-fruit-all-list-right{
    flex: 1;
}
.myorchard-fruit-all-list-right>a{
color: #333;
    font-size: 0.7rem;
}
.myorchard-fruit-all-list-right>a>span{

}